.header {
  width: 100%;
  height: 5rem;
  background-image: linear-gradient(135deg, #232324 0%, #292829 100%);
  padding: 0 10%;
}

.header nav {
  height: 100%;
}

.header ul {
  height: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.header li {
  margin: 0 1rem;
  width: 5rem;
}

.header a {
  color: white;
  text-decoration: none;
}

.header a:hover,
.header a:active,
.header a.active {
  font-weight: bold;
  color: rgb(241, 241, 97);
  padding-bottom: 0.25rem;
  border-bottom: 4px solid rgb(241, 241, 97);
}
