.search-bar {
  background-color: #141414;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: none;
  color: #ccc;
}

.search-bar button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #40005d;
  background-color: #40005d;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.search-bar button:hover,
.search-bar button:active {
  background-color: #510674;
  border-color: #510674;
}

.search-bar button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.search-bar button.alternative:hover,
.search-bar button.alternative:active {
  background-color: #ddb3f8;
}

.search-form__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.search-form__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.search-form__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 35rem;
  max-width: 100%;
}

.search-form__actions {
  text-align: right;
}
