@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Oxygen', sans-serif;
}

body {
  margin: 0;
  background-color: #e0e9f5;
}

main {
  margin-top: 7rem;
  text-align: center;
}

h1,
h2,
h3,
p {
  color: #0f2d55;
}

ul {
  padding: 0px 40px 0px 40px;
}